*{
    margin: 0;
    padding: 0;
}

.main{
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-image: url(logonetflixnav.jpg));
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    flex-direction: column;
    display: inline-block;
    margin: 200px 20px;
}